*~
__TRASH__

*-build
build/

drm-kms/drm-prime-dumb-kms.c

wayland/examples/client
wayland/examples/egl/xdg-shell-client-protocol.c
wayland/examples/egl/xdg-shell-client-protocol.h
wayland/examples/pointer
wayland/examples/seat
wayland/examples/xdg-shell-client-protocol.h
wayland/examples/xdg-shell-protocol.c
wayland/examples/hello-wayland/
wayland/examples/triangle
